<main class="wrapper">

    <div class="container">
        <div class="banner">
        <h1>Foster4Paws</h1>
       <h2>Become A Foster Parent Today </h2>
       <div class="paragraph"><p>By temporarily opening up your home and heart to one or several animals, you allow animal shelters to save more lives and help more animals in need. Join us and help them take their first steps towards finding a forever loving home.</p></div>
<br>
  
        <a href="/pets" class="button">Find your new family member</a>
        <img src="images/banner.jpg"
            alt="adopt-don't-shop-banner">
            </div>
  

    <div class="foster">
        <div class="col1-2">
         <h2>Why become a foster?</h2>
 <p>Animal fostering plays a vital part in the rehabilitation of animals in need and improve their chance of finding a new home. By taking on a temporary companion, you will become an important part in their recovery. Are you ready to start your foster care journey? Join our growing community and take part in this rewarding experience. You will not only receive love daily, but also make a huge difference in the lives of your fosters.</p>
        </div>
        <div class="col1-2">
<h2>Already fostering?</h2>
{{!-- <button type="button">Upload profile of your foster pet </button> --}}



<a href="/pets/create" class="button">Upload profile of your foster pet</a>
     

        </div>
    </div>
      </div>

</main>
