{{!-- <img src="" alt="app-logo">
<h1>Foster4Paws</h1>
<h2>Become A Foster Parent Today </h2>
<p>By temporarily opening up your home and heart to one or several animals, you allow animal shelters to save more lives and help more animals in need. Join us and help them take their first steps towards finding a forever loving home.</p>
<img src="" alt="homepage-image">
<h2>BECOME A FOSTER PARENT</h2>
 
 <h3>Find your new family member</h3>

 <h4>Why become a foster?</h4>
 <p>Animal fostering plays a vital part in the rehabilitation of animals in need and improve their chance of finding a new home. By taking on a temporary companion, you will become an important part in their recovery. Are you ready to start your foster care journey? Join our growing community and take part in this rewarding experience. You will not only receive love daily, but also make a huge difference in the lives of your fosters.</p> --}}