<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<header class="box">
         <nav>
            <a href="/"> Homepage  </a> |
            <a href="/pets">Pets</a> |
            <a href="/pets/create">Add Pet</a> |
            <a href="/mypets">My Pets</a> |
             <a href="/user-profile">User Profile</a> |
       |||||
            <a href="/signup">Register</a>
             <a href="/login">Login</a> 
              <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
         </nav>
      </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>