<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{foster4paws}}</title>
     
       <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>


    <meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">

 <a class="logo" href="/"><img src="images/pet-housewh.png" alt="Logo"></a>
  
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
 <li><a href="/"> Homepage  </a></li>
             <li> <a href="/pets">Pets</a></li>
             <li><a href="/pets/create">Add Pet</a></li>
             <li><a href="/mypets">My Pets</a></li>  
             <li>  <a href="/user-profile">User Profile</a></li>
 <li>   <a href="/signup">Register</a></li>
             <li>     <a href="/login">Login</a> </li>
    <li><form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form></li>

  <br>
  <br>
    </ul>
  
  </section>



<header class="box">
         <nav>
             <a class="logo" href="/"><img src="images/pet-housewh.png" alt="Logo"></a>
          <ul>
             <li><a href="/"> Homepage  </a></li>
             <li> <a href="/pets">Pets</a></li>
             <li><a href="/pets/create">Add Pet</a></li>
             <li><a href="/mypets">My Pets</a></li>  
             <li>  <a href="/user-profile">User Profile</a></li>
      <li>   <a href="/signup">Register</a></li>
             <li>     <a href="/login">Login</a> </li>
 <li><form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form></li> 
           </ul> 
 
         </nav>
      </header>
<div class="wrapper"></div>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>