


<main class="wrapper">
    <section class="container"><h1>404 Error</h1>
<h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</h2>
</section>
<div class="big-image">
<img src="images/error.jpg" alt="error picture"></div> </main>
