<main class="wrapper">
  <section class="addpet" >
<div class="create-pet">
<h1>Add a new pet</h1>

<form action="/pets/create" method="POST">

  <label> Animal:
    <select name="animal">
      {{#each animals}}
        <option >{{this}}</option>
      {{/each}}
    </select>
 </label>
<br>
<br>
<br>
<br>
<br>

  <label> Name:
    <input type="text" name="name" required />
  </label>



  <label> Gender:
    <input type="text" name="gender" required />
  </label>

  <label> Description:
      <input type="text" name="description" required />
  </label>

  <label> Date of birth:
      <input type="text" name="dateOfBirth" required />
  </label>

   <label> City:
      <input type="text" name="location" required />
  </label>

  <label> Health issues:
      <input type="text" name="healthIssues" required />
  </label>


      <label for="formGroup6">Add image
      <input type="text" class="form-control" id="formGroup6" placeholder="Add here image url" name = "image">
   </label>

  <button type="submit"> Add a pet </button>
</form>
</div>
</section>
</main>