<h2>Add a new pet</h2>

<form action="/pets/create" method="POST">

  <label> Name:
    <input type="text" name="name" required />
  </label>

  <label> Animal:
    <select name="animal">
      {{#each animals}}
        <option >{{this}}</option>
      {{/each}}
    </select>
 </label>

  <label> Gender:
    <input type="text" name="gender" required />
  </label>

  <label> Description:
    <textarea name="description"> </textarea>
  </label>

  <label> Date of birth:
    <textarea name="dateOfBirth"> </textarea>
  </label>

  <label> Health issues:
    <textarea name="healthIssues"> </textarea>
  </label>
   <label> Location:
    <textarea name="location"> </textarea>
  </label>

      <label for="formGroup6">Add image
      <input type="text" class="form-control" id="formGroup6" placeholder="Add here image url" name = "image">
   </label>

  <button type="submit"> Add a pet </button>
</form>
