@charset "utf-8";
/*
* CSS-Design
* Doti-Webseite
* Doti Hundeschule
*/
/* Reset * * * * * * * * */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    position: relative;
    min-height: 100%;
    /* Browserstandard: 16px */
}
/* Layout * * * * * * * * */



body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.35rem;
  color: #2f2f2f;
  font-size: 1.1rem;
}



.wrapper {
  max-width: 1100px;
  margin: 0 auto;

}

label {
  margin: 0rem;
}

.container {

  text-align: center;

padding-top: 1rem;
padding-bottom: 1rem;
  margin: 2rem;
}
.filter {
  text-align: center;
  margin: 2rem;
  max-width: 100%;
  margin-left: 2rem;
}

.filter label {
   
     margin-left: 1rem;
    
     font-family: 'cabin sketch';
     color: #dda300;
     font-weight: 900;
}
.columns {
  background-color: transparent;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}

.foster {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  flex-direction: row;
  padding-bottom: 1rem;
}

.card {
  background-color: #ffffff;
  max-width: 30%;
  margin: 1rem;
  padding: 1rem;

  text-align: center;
  flex-direction: column;
  border-style: solid;
  border-width: thick;
  border-color: #50f7e9;
  border-radius: 2rem;
}

.logo img{
  width: 5%;
  height: 6%;
  object-fit: scale-down;
  margin-left: 3rem;

}
.pet-info {
  display: inline-flex;
  

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.7rem;

}

.pet-info2 {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.card label {
  margin-left: 2rem;
}

.btn-filter {
  margin-left: 1rem;
 
}

 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.banner img {
  width: 100%;
  height: revert;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.edit {
  margin-top: 5rem;
  margin-bottom: 2rem;
  max-width: 100%;
  margin-left: 0rem;
}



.paragraph, .paragraph2 {
  max-width: 50%;
  text-align: center;
  display: inline-flex;
  margin-bottom: 0.7rem;
}

/* Typography */

a {
 text-decoration: none;
 color: #ffffff;
}

.login-form a {
  color: #08cef1;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  color: #16bac6;
  font-size: 3rem;

}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 700;
  text-align: center;
font-size: 2.1rem;
color: #16bac6;
}

.card h2 {
 
    font-weight: 1000;
    color: #007b8f;
}
h3 {
  margin-right: 7rem;
  font-family: 'Open sans';
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 1.2rem;

}

.user-card h3
 {
  margin-right: 0rem;
}

.pet-info h3 {
  margin-right: 1rem;;
}

/* Navigation */

nav {
  padding-right: 1rem;
  margin: 0 auto;
}

 #menu-toggle, .top-nav {
  display: none;
} 

header {
  background: #195f6b;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-left: -2rem;
  display: revert;
}

ul {
  float: right;
  margin: 0rem;
}

ul li {
  position: relative;
  list-style: none;
}

ul li {
  position: relative;
  display: inline;
  margin: 0 0 0 25px;
  list-style: none;
}

ul li a{
  color: #eff0f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Open sans';
  padding: 15px 0 15px 15px;
  transition: all 0.15s linear 0s;
  font-weight: 300;
}

ul li a:hover,
ul#subnavigation .active,
ul li a.active,
#subnavigation li a:hover {
  color: #fdc161;
}

#logout-form {
  display: inline-flex;
}

/* Details Page */

.pet-description {
  max-width: 50%;
  margin: 1rem;
  padding-left: 1rem;

  text-align: left;
}

 .big-image img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-image {
  height: 700px;
  
}

.pet-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  align-content: stretch;
}

.col1-2 {
  max-width: 50%;
  margin-right: 3rem;
  margin-left: 3rem;
  text-align: left;
}


.pet-details .pet-info2 {
 
  margin-top: 1rem;
  margin-left: 8rem;
  
}


/* Sign up */
 * {box-sizing: border-box}

.form-for-signup {
  border: 1px solid #ccc;
  display: flex;
  width: 60%;
} 

/* Full-width input fields */
 .create-pet input[type=text], .edit input[type=text], .signup input[type=text]  ,.signup  input[type=password] ,.signup input[type=string]   {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.create-pet input[type=text], .signup input[type=text]:focus, .signup input[type=password]:focus, .signup input[type=string]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}





/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
  float: left;
  width: 50%;
} 

/* Add padding to container elements */
 .signup {
  padding: 16px;

  display: block;
} 

.signup-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} 

/* Clear floats */
 .clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

/* Change styles for cancel button and signup button on extra small screens */
 @media screen and (max-width: 300px) {
 .signupbtn {
    width: 100%;
  }
}  

/* Login */

.login-form {
  padding: 16px;
  text-align: left;
}

.login-heading {
  text-align: center;
}

/* Full-width inputs */
.login-form input[type=email], .login-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* User profile card */
.user-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  padding-top: 1rem;
}

.user-card img {
  height: fit-content;
  object-fit: unset;
  max-width: 30%;
  margin-bottom: 3rem;
}


/* Create pet */

.create-pet {
  max-width: 60%;
  text-align: left;
}

.addpet {
  background-color: #fffeef;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  flex-direction: row;
  padding-top: 1rem;

}



/* <!-- HTML !-->
<button class="button-1" role="button">Button 1</button> */

/* CSS */
button, .button  {
  background-color: #fdc161;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0.7rem;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #00bbac;
}

.button.card {
  background-color: #f3ae40
}




@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body,
  main,
  .container,
 .foster,
  .columns,
  .pet-info,
  .pet-info2 {
      max-width: 100%;
      margin: auto;
  }

  
  .form-for-signup {
    width: 100%;
  }

h1, h2 {
  line-height: 3rem;
}

.paragraph, .paragraph2,  .card, .big-image img, .user-card {
  max-width: 90%;
}

.foster {

  flex-direction: column;
  padding-bottom: 10rem;
}
.pet-details {
  flex-direction: column;
}

.pet-description {
  max-width: 100%;
  text-align: center;
}

.create-pet{
  text-align: center;
}

.col1-2 {
  max-width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.filter {
  text-align: center;
  margin: 2rem;
  max-width: 14rem;
  margin-left: 6rem;
  z-index: 900;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

header {
  display: none;
}


h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.edit {

  max-width: 90%;
  margin-left: 1rem;
}
/* Hamburger menu */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #195f6b, #fdc161);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 980;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 8%;
  height: fit-content;
  object-fit: scale-down;
  margin-left: 0rem; 
  margin-top: 0rem;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #195f6b;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 1rem;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding-bottom: 2.5rem;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #195f6b;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
}